body{
margin:0px;
}
.header{
display:flex;
flex-direction:row;
justify-content:space-between;
height:15vh;
	max-height: 50px;
	background: black;
	color: red;
	font-size: 30px;
	text-align: center;
padding-top:2px;

}


.box{
margin:0px;
display:flex;
flex-direction:row;
width: 100%;
height:inherit;


}
.mainbox{
width:inherit;
height:100%;
	background-color:#5CDB98;


}
.adarea{
margin:0px;
height: auto;
background-color:#5CDB98;
width:350px;
display:flex;
flex-direction:column;
}

.ad{
    height:auto;
width:100%;

}




textarea{
width:100%;
height:100vh; 


	padding: 10px 10px 0px 10px;
	background-color:#5CDB98;
color:darkred;
	font-size: 20px;
	resize:none;
}

textarea::placeholder{
padding-top: 20px;
text-align:center;
}




















.htitle{
width:40%;
}
.main{

	display: flex;
	flex-direction: column;
	background-color: black;



}
.write{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: gray;
	color:yellow;
	padding:  10px;
	font-size: 20px;

}
a{
	text-decoration: none;
color:gold;
	}
.dlink{
color: white;
	border: 2px solid white;
	padding: 2px;
	border-radius: 10px;
}


.link,.date{
width:auto;
}
.id{
	width: auto;
padding:1px 3px;
box-shadow: 1px 1px 25px black;
}
.visit{
box-shadow: 1px 1px 25px black;
padding:2px;
margin-left:5px;
}
input[type="submit"]{
	height: 40px;
	width: 300px;
	color: white;
	background: black;
	text-align: center;
	border: 2px solid white;
	padding:auto;
}
button{
	height: 35px;
	width:200px;
	color: white;
	background-color: black;
	border: 2px solid white;
	border-radius: 10px;
}
.lastvisit{
color:white;
}



footer{
display:flex;
flex-direction:row;
justify-content:space-between;
height:10vh;
max-height:40px;
width:auto;
background-color:black;
color:white;
padding: 5px 2px;
padding-bottom:5px;
}
footer .div{
width:33%;
}

footer a{
color:red;
text-decoration:none;
border: 0px solid white;

}

.date img{
vertical-align: middle;
}


#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}		


.line-1{
    position: relative;
    top: 50%;  
    width: auto;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 130%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(50) 1s 1 normal both,blinkTextCursor 1s steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 10em;}
}

@keyframes blinkTextCursor{
  from{border-right-color: red;}
  to{border-right-color: transparent;}
}


	